.popup {
  position: fixed;
  width: 60%;
  height: 60%;
  top: 20px;
  left: 150px;
  right: 0;
  bottom: 0;
  margin: auto;
  align-content: center;
  z-index: 1;
}
.popup\_inner {
  position: absolute;
  left: 10%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  border-radius: 20px;
  background: white;
}
